*{
  margin: 0;padding: 0;padding: 0;
  padding: 0;padding: 0;
  padding: 0;padding: 0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}

:root {
  --main-color: #171d7e;
  --text-color: rgb(255, 255, 14); 
}
::-webkit-scrollbar {
  display: none;

}

.overlay {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 84, 84, 0.5); /* Black-blue color with transparency */
  z-index: 999;
}

.navbar-container {
 
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--main-color);
  position: relative;
  vertical-align: middle;
  position: sticky;
  top:0;
  z-index: 10;
}

.logo {
  overflow: none;
  font-size: 30px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.logo-img{
  height: 60px;
  width: 70px;
  border-radius: 50%;
  background: none; 
  border: none;
  vertical-align: center;
  margin-top: 6px;
  
}

.menu-icon {
  display: none;
}

.nav-elements {
  font-size: 20px;
}
.nav-element{
  margin-left: 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-color);

}
.close-nav{
  display: none;
}


/*? Scorers component css is here  */
.scorers-component{
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 0 auto;
}

.single-player-score{
  padding: 20px;
  width: 100%;
  padding: 20px ;
  margin: 10px 0;

}
.goals-count ,.matches-count, .assist-count{
  display: flex;
  justify-content: space-between;
  margin-top: 7px;

}
.color{
  color: var(--main-color);

}
.pos{
  color: rgb(85, 84, 84);
  font-weight: normal;
}
.matches-count{
  margin-top: 20px;
}
.light{
  color: #474444;
  font-weight: normal;
  /* color: #000; */
}

.search-player{
  width: 92%;
  margin: 30px auto 10px auto;
  display: block;
  padding: 10px 20px;
  font-size: 22px;
}

.no-found{
  text-align: center;
  display: block;
  color: red;
  width: 100%;
}



/* Matchdat  */
.match-container{
  width: 500px;
  height: 600px;
  /* font-size: 20px; */
  /* border: 2px solid rgb(18, 16, 16); */
  /* background-color: orange; */
  margin: 10px auto;
}
.header{
  height: 70px;
  background-color: var(--main-color);
  background-color: rgb(193, 22, 113);
  /* color: var(--main-color); */
  word-spacing: 2px;
  border: none;
  
}
.teams{
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;

}
.teams>div{
  background-color: var(--main-color);
  color: var(--text-color);
  line-height: 60px;
  padding: 0 20px;
  font-size: 23px;
}
.players h2{
  text-align: center;
  margin: 10px 0;
}

.players p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}


.team-reports{
  width: 80%;
  margin: 20px auto;
  padding: 30px 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 20px;
}


.mt{
  margin-top: 30px;
}

.match-info{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.match-res{
  background-color: var(--main-color);
  color: var(--text-color);
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;

}

.box{
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  /* width: 120px; */
  text-align: center;
  padding: 10px;
  font-size: 23px;
  margin-top: 10px;
}





/*? Match post are here  */

.date{
  margin-bottom: 10px;
}
.match-post{
  width: 92%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px 5px rgb(208, 207, 207);
  background-color: rgb(224, 224, 220);
  position: relative;

}
.match-num{
  color: var(--text-color);
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 2px;
}
.red{
  /* background-color: rgb(49, 49, 49); */
  color: #fff;
  /* background: linear-gradient(rgb(4, 245, 213),rgb(145, 5, 226)); */
  background: linear-gradient(rgb(58, 58, 248),rgb(1, 1, 4));

}
.blue{
  /* background-color: rgb(255, 255, 255); */
  color: white;
  /* color: #000000; */
  background: linear-gradient(rgb(190, 5, 177),rgb(62, 53, 48));

}
.complete-match{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  flex-wrap: wrap;
}
.team{
   text-align: center;
}
.team h2{
  color:#fff;
  display: block;
  background-color: orange;
  padding: 10px;
}
.team p{
  margin-top: 3px;
  font-weight: bold;
  font-size: 20px;
}
.goalscorers{
  font-size: 20px;
  display: block;
  /* margin-top: 20px; */
  margin: 20px auto;
  background-color: orange;
  width: 160px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.final-score{
  background-color: #ff5c11;
  font-weight: bolder;
  font-size: 30px;
  width: 80px;
  padding: 5px 0;

}
.scorers1  h4{
  margin-top: 10px;
}
.team-scorers{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}


.back{
  margin-bottom: 10px;
  font-size: 18px;
}



/* responsive  */

@media (max-width: 600px) {
  .match-container{
    width: 340px;
  }
  .logo{
    font-size: 25px ;
    padding-left: 10px;
  }
  .navbar-container{
    padding: 0 10px;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .hamburger{
    padding-right: 10px;
    font-size: 40px;
    color: var(--text-color);
  }
  .close-nav{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: var(--text-color);
    font-weight: bolder;
  }
  .nav-elements {
    position: absolute;
    left: -140px;
    top: 70px;
    background-color: var(--main-color);
    width: 140px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1000;
  }
  .nav-element:first-child{
    margin-top: 30px;
  }
  .nav-element{
    display: block;
    padding: 0;
    margin-left: 0px;
    padding-left: 10px;
    letter-spacing: 0px;
    padding-bottom: 10px;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid white;
  }

  .nav-elements.active {
    left: 0px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.caro-img{
  height: calc(100vh - 70px);
  object-fit: contain;
  object-fit: cover;
  width: 100%;
}